.m-2#links
  = link_to 'Back', articles_path, class: " badge badge-warning"
  - if @user == current_user
    = link_to 'Edit', edit_article_path(@article), class: "badge badge-info"
    = link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: " badge badge-danger"