%h1.h1.text-primary Listing articles
- @articles.each do |article|
  .card.m-2
    .card-body
      %h4.card-title
        =link_to article.title, article
      .card-text
        = article.description.truncate(100)


= link_to 'New Article', new_article_path
