$theme-colors:(
  "primary": darkseagreen
);

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('palm_img.jpeg');
  height: 550px;
}

.article-meta-footer{
  margin-top: 10px;
}

@import "bootstrap";